.post {
    background-color: white;
    border-radius: .25rem;
    max-width: 500px;
    padding: 1rem;

    & img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

    & .info {
        display: flex;
        align-items: center;
    }

    & .description {
        display: flex;
        flex-direction: column;
        padding: .25rem;
    }

    & a {
        padding: 0 0 .25rem 0;
    }

    & p {
        color: gray;
        margin-top: 1rem;
    }
}