.post {
    background-color: rgba(255, 255, 255, .1);
    border-radius: .25rem;
    margin-bottom: 1rem;
    width: 500px;
    max-width: 100%;
    padding: 1rem;
    position: relative;

    & img {
        background-color: var(--paletteColor5);
        border-radius: 50%;
        height: 40px;
        margin-right: 15px;
        width: 40px;
    }

    & .info {
        display: flex;
        align-items: center;
    }

    & .description {
        display: flex;
        flex-direction: column;
    }

    & a {
        color: var(--paletteColor7);
        padding: 0 0 .25rem 0;
        text-decoration: none;
    }

    & time {
        color: rgba(255, 255, 255, .1);
    }

    & pre {
        color: gray;
        display: block;
        margin-top: 1rem;
        white-space: normal;
    }

    & .cross {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 10px;
        height: 10px;
        background-image: url('../../theme/assets/cross.png');
        background-repeat: no-repeat;
        cursor: pointer;

        &:hover {
            background-position: -13px 0;
        }
    }
}

.mine {
    background-color: rgba(255, 255, 255, .25);
}