.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: black url("https://images5.alphacoders.com/335/thumb-1920-335133.jpg") right top no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.noPosts {
    font-size: .75rem;
    color: rgba(255, 255, 255, .25);
}